
DotaCard/debug/

DotaCard/debug2/music/

DotaCard/debug2/

DotaCard/music/

DotaCard/title/

DotaCard/phase/

DotaCard/phase_name/

DotaCard/DotaCard\.pro\.user

DotaCard/\.qmake\.stash

*.bat

*.qm

*.txt

*.jpg

*.png

*.bmp

*.cur

DotaCard/Makefile

*.Debug

*.Release
